#education p {
  margin-top: -20px;
  margin-bottom: 40px;
}

.heading {
  margin-top:50px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.tab {
  background: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 1rem;
  position: relative;
  color: #333;
  transition: all 0.3s ease;
}

.tab.active {
  border-bottom: 2px solid #000;
  color: #000;
}

.qualification-rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: black;
  border-radius: 50%;
  margin: auto;
}

.qualification-line {
  display: inline-block;
  width: 2px;
  height: 100px;
  background-color: black;
  margin: auto;
}

.data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* margin-bottom: 30px; */
  padding: 20px;
}

.education-data {
  text-align: start;
}

.education-1 {
  display: flex;
  margin: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.edu-1 {
  margin-left: 457px;
  margin-top: -41px;
}

.edu-2 {
  margin-top: -42px;
  margin-left: 15px;
}

.edu-3 {
  margin-right: 35px;
}
